<div class="">
  {{#each ideass}}
          <h2>
            {{title}}
          </h2>
          <a href="ideas/{{id}}/{{title}}" class ="titles"><button>Hatch Idea
            </button></a>
  {{/each}}
</div>


<div id="modalFrame">Add Idea</div>

<div id="myModal" class="hide">
        <div class="modalMain">
            <!-- <p>Add Idea</p> -->
            <form class="addIdea" action="/ideas/new" method="post">
              <label for="title">Idea Title</label>
              <input type="text" name="title" value="" placeholder="Enter your idea title">
              <label for="description"></label>
              <input type="text" name="description" value="" placeholder="enter idea details">
              <div class="">
                <label for="excitement ">Idea Excitement</label>
                <select class="excitement" name="excitement">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <label for="difficulty ">Idea Difficulty</label>
                <select class="difficulty" name="difficulty">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div>
                {{date}}
              </div>
              <button id="modalSubmit" class="modalBtn">Submit</button>
            </form>
        </div>
        <div class="modalFooter">
          <button id="modalCancel" class="modalBtn">Cancel</button>
        </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
$('#modalFrame').click(function() {
  console.log('butts');
  $('#myModal').removeClass('hide');
})
$('#modalCancel').click(function() {
  $('#myModal').toggleClass('active')
})
</script>
