<style media="screen">
  body {
    /*background-color: lightgrey;*/
    width:100%;
    background-image: url('../images/bulletin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  label {
    font-size: 1.5em;
  }
</style>

<div class="bg">


<div class="wrapper">

<div class="ideasHeader">
  <h1>Current Ideas:</h1>
</div>
<div class="ideaDiv">
  {{#each ideass}}
        <div class="ish">
          <h1 class="ideaTitle titles">
            {{title}}
          </h1>
          <h4 class="description initialD">
            {{description}}
          </h4>
          <a href="ideas/{{id}}/{{title}}" class ="titles"><button class="hatchButton">Hatch Idea
            </button></a>
        </div>
  {{/each}}
</div>

<div class="addIdea">
  <div id="modalFrame" class="adding">Add Idea</div>
</div>

<div id="myModal" class="hidden">
        <div class="modalMain">
            <!-- <p>Add Idea</p> -->
            <form class="addIdea" action="/ideas/new" method="post">
              <div class="input">
                <label for="title">Idea Title</label>
                <textarea type="text" rows="2" cols="30" name="title" value="" required placeholder="Enter your idea title"></textarea>
              </div>
              <div class="input">
                <label for="description">Idea Description</label>
                <textarea type="text" rows="5" cols="30" name="description" value="" required placeholder="Enter your idea description"></textarea>
              </div>
              <div class="input">
                <label for="excitement">Excitement Level</label>
                <select class="excitement" name="excitement">
                  <option value="Somewhat Excited">Somewhat Excited</option>
                  <option value="Kind Of Excited">Kind Of Excited</option>
                  <option value="Excited" selected>Excited</option>
                  <option value="Very Excited">Very Excited</option>
                  <option value="Extremely Excited">Extremely Excited</option>
                </select>
              </div>
              <div class="input">
                <label for="difficulty ">Idea Difficulty</label>
                <select class="difficulty" name="difficulty">
                  <option value="Very Easy">Very Easy</option>
                  <option value="Easy">Easy</option>
                  <option value="Intermediate" selected>Intermediate</option>
                  <option value="Difficult">Difficult</option>
                  <option value="Very Difficult">Very Difficult</option>
                </select>
              </div>
              <div class="buttonsDiv">
                <div class="buttons">
                  <button type="submit" id="modalSubmit" class="modalBtn">Submit</button>
                </div>
                <!-- <div class="buttons">
                  <button id="modalCancel" class="modalBtn cancel">Cancel</button>
                </div> -->
              </div>
            </form>
        </div>
      </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
$('.adding').click(function() {
  console.log('butts');
  $('#myModal').toggleClass('active');
  $('#modalFrame').toggleClass('green')
})
$('#modalCancel').click(function() {
  $('#myModal').hide()
})
</script>
