
<div class="wrapper">


<div class="sliderText">
  <div>
    <h1 id="slider_text" class="sliderText_content">{{title}}</h1>
  </div>
  <div>
    <p class="sliderText_content subtitle">{{subtitle}}</p>
  </div>
  <div>
    <a href="/ideas" type="button" class="getStarted">Get Started</a>
  </div>
</div>



</div>

<script              src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>

<script type="text/javascript">

// slide_front_text();

setTimeout(slide_front_text, 2200);

  function slide_front_text() {
  $('#slider_text').slideUp(800, function() {
      $(this).text('CONCEIVE.').slideDown(500).delay(1200);
      $(this).slideUp(1200, function() {
        $(this).text("INCUBATE.").slideDown(500).delay(1200);
        $(this).slideUp(1200, function() {
          $(this).text("HATCH.").slideDown(500).delay(2500);
        });
      });
  });
}


</script>
