<style media="screen">
  body {
    width:100%;
    background-image: url('../images/citybg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
  }

  /*@media (max-width: 1040px) {
    body {
      width:100%;
      background-image: url('../images/citybg3Copy.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height:100vh;
    }
  }*/
</style>

<nav class="ideasNav">
  <span style="letter-spacing:2px;">HATCH</span> - <span style="font-family: 'Droid Sans', sans-serif; letter-spacing:.8px;">Ideas to Grow</span>
</nav>
<div class="wrapper">

  <div class="sliderText">
    <div>
      <h1 id="slider_text" class="sliderText_content">{{title}}</h1>
    </div>
    <div>
      <p class="sliderText_content subtitle">{{subtitle}}</p>
    </div>
    <div>
      <a href="/ideas" type="button" class="getStarted">Get Started</a>
    </div>
</div>
</div>

<script              src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>

<script type="text/javascript">

// slide_front_text();

setTimeout(slide_front_text, 2500);
hideNormalBG();

  function slide_front_text() {
  $('#slider_text').slideUp(800, function() {
      $(this).text('CONCEIVE.').slideDown(500).delay(1200);
      $(this).slideUp(1200, function() {
        $(this).text("INCUBATE.").slideDown(500).delay(1200);
        $(this).slideUp(1200, function() {
          $(this).text("HATCH.").slideDown(500).delay(2500);
        });
      });
  });
}

$('.getStarted').click(function() {
  $('.body').toggleClass('active')
})


</script>
