<h1 id="slider_text">{{title}}</h1>
<p>{{subtitle}}</p>
<a href="/ideas" type="button">Login</a>

<script              src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>

<script type="text/javascript">

// slide_front_text();

setTimeout(slide_front_text, 2000);

  function slide_front_text() {
  $('#slider_text').slideUp(800, function() {
      $(this).text('CONCEIVE.').slideDown(500).delay(1200);
      $(this).slideUp(1200, function() {
        $(this).text("INCUBATE.").slideDown(500).delay(1200);
        $(this).slideUp(1200, function() {
          $(this).text("HATCH.").slideDown(500).delay(2500);
        });
      });
  });
}


</script>
