<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./stylesheets/style.css"/>
    <!-- <link rel="stylesheet" href="./stylesheets/edit.css"/>
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="stylesheet" href="./stylesheets/new.css"/>
    <link rel="stylesheet" href="./stylesheets/singleview.css"> -->

    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="main.js"></script> -->

</html>
