<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Roboto+Slab|Ubuntu|Acme" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>{{title}}</title>
  </head>
  <body class="body">
    {{{body}}}
  </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="main.js"></script> -->

</html>
