body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*ideas*/

.hidden {
  display:none;
}

.active {
  display: block;
}

#modalFrame:hover {
  cursor: pointer;
}
